################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nodes/v14
/Debug
/nodeLib/Debug/nodeLib.tlog
/nodeLib/Debug
/playground/Debug
/nodes.VC.VC.opendb
/nodeLib/Release
/playground/Release
/Release
/nodes.VC.db
/nodeLib/nodeLib.vcxproj.filters
/playground/playground.vcxproj.filters
/nodes.xcworkspace/xcuserdata/ilie.xcuserdatad
nodes.xcworkspace/xcuserdata/ilie.xcuserdatad/UserInterfaceState.xcuserstate

nodes.xcworkspace/xcuserdata/ilie.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
/LogicalLayer/Debug
/LogicalLayer/Release

nodes.xcworkspace/xcuserdata/ilie.xcuserdatad/UserInterfaceState.xcuserstate
/LogicalLayer/x64/Debug
/nodeLib/x64/Debug
/playground/x64/Debug
/x64/Debug
/.vs/nodes/v15
/.vs/nodes/v15
/startNode/Debug/startNode.tlog
/startNode/Debug
/startNode/x64/Debug
/startNode/Release

\.build-debug/

\.codelite/

LogicalLayer/LogicalLayer\.txt

\.build-release/

UpgradeLog\.htm

*.suo
.vs/PubSub/v15/Browse.VC.db
.vs/PubSub/v15/ipch/AutoPCH/LOGICALLAYER-3b32a257/SUBSCRIBER-aaea5f7e/SUBSCRIBER.ipch
.vs/PubSub/v15/ipch/AutoPCH/STARTNODE-efa9930f/MAIN-c7bdcba7/MAIN.ipch
.vs/PubSub/v15/Solution.VC.db
\.vs/PubSub/v15/

LogicalLayer/x64/Release/

playground/x64/Release/

startNode/x64/Release/

x64/Release/
