################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nodes/v14
/Debug
/nodeLib/Debug/nodeLib.tlog
/nodeLib/Debug
/playground/Debug
/nodes.VC.VC.opendb
/nodeLib/Release
/playground/Release
/Release
/nodes.VC.db
/nodeLib/nodeLib.vcxproj.filters
/playground/playground.vcxproj.filters
/nodes.xcworkspace/xcuserdata/ilie.xcuserdatad
nodes.xcworkspace/xcuserdata/ilie.xcuserdatad/UserInterfaceState.xcuserstate

nodes.xcworkspace/xcuserdata/ilie.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
